<style>
  .section {
    margin-bottom: 12px;
  }
</style>

<h1> Action Icons Test</h1>

<h2>
  Icons with text
</h2>
<div class="section">
  <%= action_icon("add") %>
  <%= action_icon("remove") %>
  <%= action_icon("delete") %>
  <%= action_icon("edit") %>
</div>

<h2>
  Icons
</h2>
<div class="section">
  <%= action_icon("add", { :show_text => false}) %>
  <%= action_icon("remove", { :show_text => false}) %>
  <%= action_icon("delete", { :show_text => false}) %>
  <%= action_icon("edit", { :show_text => false}) %>
</div>


<h2>
  Disabled States
</h2>
<div class="section">
  <%= action_icon("add", { :enabled => false}) %>
  <%= action_icon("remove", { :enabled => false}) %>
  <%= action_icon("delete", { :enabled => false}) %>
  <%= action_icon("edit", { :enabled => false}) %>
</div>
