<!DOCTYPE html>
<html>
<head>
  <title>Patterns</title>
  <%= render "/structure/css"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%=@body_id%>" class="layout_application <%=@body_class%>">
<div id="header">
  <%= render "/structure/header"%>
</div>

<div id="main">
  <%= yield %>
</div>

<div id="footer">
  <%= render "/structure/footer"%>
</div>

</body>
</html>
